@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html{
  background-color: #0ea5e9;
  scroll-behavior: smooth;
}

html, body{
  overflow-x: hidden !important;
}
body{
  overflow-y: hidden;
}

.headerSticky{
  position: fixed;
  top: 0;
  background-color: #05093980;
  backdrop-filter: blur(4px);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media only screen and  (min-width: 1024px) {
  .video{
    max-width: 60.3125rem;
    z-index: 1;
    position: relative;
  }

  .video:before{
    box-shadow: 0px 0px 5px #00b1ff;
    border: 1px solid #00b1ff;
    box-shadow: 0px 0px 20px #00b1ff;
    content: "";
    position: absolute;
    width: 100%;
    height: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 5px;
    z-index: -2;
  }
}


/*SWIPER CONFIG*/
.swiper-slide{
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-button-prev, .swiper-button-next {
  color:#e70000 !important;
}

.swiper-pagination-bullet-active{
  background: #e70000 !important;
}

.hidding{
  display: none;
}

.image-container {
  position: relative;
  animation: floatAnimation 15S ease-in infinite alternate;
}

/* ANIMAÇÃO VIBRATE */
@keyframes floatAnimation {
  0% {
    transform: rotateZ(0deg) translateX(0px) translateY(0px);
  }
  12.5% {
    transform: rotateZ(-1deg) translateX(-22px) translateY(-10px);
  }
  25% {
    transform: rotateZ(1deg) translateX(22px) translateY(10px);
  }
  37.5% {
    transform: rotateZ(-1deg) translateX(-22px) translateY(-10px);
  }
  50% {
    transform: rotateZ(1deg) translateX(22px) translateY(10px);
  }
  62.5% {
    transform: rotateZ(-1deg) translateX(-22px) translateY(-10px);
  }
  75% {
    transform: rotateZ(1deg) translateX(22px) translateY(10px);
  }
  87.5% {
    transform: rotateZ(-1deg) translateX(-22px) translateY(-10px);
  }
  100% {
    transform: rotateZ(0deg) translateX(0px) translateY(0px);
  }
}

.vibrate-2 {
	-webkit-animation: vibrate-2 3s ease-in infinite backwards;
	        animation: vibrate-2 3s ease-in infinite backwards;
}
@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

/*TEXTO GRADIENTE*/
.text-gradient {
   background: #fff; /* radial-gradient(64.18% 64.18% at 71.16% 35.69%,#d8c1f5 .89%,#b18bee 17.23%,#9d7ded 42.04%,#ab7deb 55.12%,#985ed6 71.54%,#5c0dee 100%);*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* BG LINHAS*/
.bg-linhas{
  background-image: url(./assets/bg-linhas.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
}

/*SLICK SLIDER*/
.slick-track{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-arrow{
  display: none !important;
}




